.card-container {
  width: 270px;
  height: 276px;
  background-color: var(--primary);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 6px 10px 6px rgba(0, 0, 0, 0.2);
}

.text-container {
  margin-left: 16px;
  margin-top: 14px;
  width: auto;
}

.h2-tag {
  width: 70%;
  margin: 2px 0 6px 0;
}

.p-container {
  margin-top: 6px;
  display: flex;
  gap: 6px;
}

.p-title {
  font-weight: 500;
  font-size: 14px;
}

.p-tag {
  width: 60px;
}
